<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googleMapAPIKey</key>
	<string>AIzaSyBkulQHX9ljQa4x0M7zHx0kvRoI0puHGBM</string>
	<key>IP</key>
	<string>http://192.168.0.193:3000</string>
	<key>ngrok</key>
	<string>https://kevin20694569.ngrok.app</string>
	<key>localHost</key>
	<string>http://192.168.0.193:3000</string>
</dict>
</plist>
